body
{
    margin:auto;
    padding: 0px;
    height:50%;
    width:70%;
}

span
{
    height:50px; 
    width:70%; background-color: black; 
    color: white;
}

.card 
{
    /* Add shadows to create the "card" effect */
    /* border-radius: 25px;
    border: 1px solid;
    height: 80%;
    background: linear-gradient(to-bottom, lightgrey 0%, lightgrey 25%, white 20%);
    font-size: 30px;

    padding: 10px;  
    background-clip: border-box; */
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
  }

  .top-bar
  {
    height:50px; 
    width:100%; 
    background-color: black; 
    font-size: 40px;
  }

  

  .top-bar-text
  {
    font-size: 40px;
    color: red;
  }

  .card-header
  {
    background-color: lightgray;
    margin: 0;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid grey;
    font-size: 35px;
  }

  .card-body
  {
    padding-left: 10px;
    border-bottom: 2px solid grey;
    padding: 20px;
    background-color: white;
    font-size: 20px;
  }

  .card-footer
  {
    border-bottom-right-radius: 0;
    font-size: 10px;
    padding: 10px;
  }

  .card-gradient
  {
    height:50px;
    width:100px;
    background-color: lightblue;
    background-image: linear-gradient(lightblue, rgb(66, 169, 204));
    color: white;
  }

  .card-gradient:hover
  {
    background-color: lightblue;
    background-image: linear-gradient(rgb(61, 111, 128), rgb(29, 182, 233));
  }


  .menu
  {
    color: white;
    float: right;
    width: 200x;
  }

  
  .dropdown
  {
    border: 1px solid black;
    border-radius: 40px;
    padding: 20px;
    overflow: hidden;
    width: 300px;
    position: absolute;
  }

  .dropdown-card
  {
    height:50px;
    width:300px;
    background-color: lightblue;
    background-image: linear-gradient(lightblue, rgb(66, 169, 204));
    color: white;
    align-items: center;
  }

  .dropdown-card:hover
  {
    background-color: lightblue;
    background-image: linear-gradient(rgb(138, 177, 190), rgb(31, 184, 235));
  }

  .fa-clickable
  {
    cursor:pointer;
    outline:none;
  }

  .list {
    float:right;
    transform: scaleY(0);
    transform-origin: top;
    transition: 0.3s;
  }

  .newlist {

      transform: scaleY(1);

  }

  .joke-api
  {
    background-color: lightgrey;
    padding: 15px;
    font-size: 15px;
    color:black;
    border:5px black;
    height:50px;
    width:100px;
  }

  .joke-api:hover
  {
    background-color: rgb(241, 234, 234);
  }

  #jokeDelivery {
    color: blue;
  }

  #jokeSetup {
    color: red;
  }